[core]
  pager = delta
  editor = code --wait
	sshCommand = "ssh -i ~/.ssh/id_rsa"

[interactive]
	diffFilter = delta --color-only --features=interactive

[delta]
  features = decorations

[delta "interactive"]
	keep-plus-minus-markers = false

[delta "decorations"]
	commit-decoration-style = blue ol
	commit-style = raw
	file-style = omit
	hunk-header-decoration-style = blue box
	hunk-header-file-style = red
	hunk-header-line-number-style = "#067a00"
	hunk-header-style = file line-number syntax

[commit]
	gpgsign = true

[pull]
  rebase = false

[push]
	autoSetupRemote = true

[alias]
  mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -
	co = checkout
	br = branch
	ci = commit
	st = status

[filter "cleanFishVars"]
	clean = awk '!/SETUVAR _.*/{print}'

[diff "fish_variables"]
	textconv = awk '!/SETUVAR _.*/{print}'

[includeIf "hasconfig:remote.*.url:git@github.com:*/**"]
  path = ~/.gitconfig-github

[includeIf "hasconfig:remote.*.url:https://github.com/*/**"]
  path = ~/.gitconfig-github