[core]
	pager = hunk pager
	editor = code
	sshCommand = "ssh -i ~/.ssh/id_rsa"

[commit]
	gpgsign = true

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	sw = switch
	wt = worktree
	sta = stash
	stap = stash pop
	alias = config --get-regexp ^alias
	hdiff = -c core.pager=\"hunk pager\" diff
	hshow = -c core.pager=\"hunk pager\" show

[includeIf "hasconfig:remote.*.url:*@github.com:*/**"]
	path = ~/.gitconfig-github
[user]
	signingkey = 19F7DA5FD1A25B06
	name = Vuong
	email = 3168632+vuon9@users.noreply.github.com

[diff]
	tool = hunk

[difftool "hunk"]
	cmd = hunk difftool \"$LOCAL\" \"$REMOTE\" \"$MERGED\"

[difftool]
	prompt = false
